.task {
  font-size: 50px;
  padding: 20px;
}

label {
  display: inline;
}

ul li {
  list-style: none;
}

input[type=checkbox] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  width: 50px;
  padding: 10px;
  position: relative;
  top: -10px;
}

input[type=text] {
  background: none;
  border: none;
  color: #fff;
  border-bottom: 1px #ccc solid;
  font-size: 50px;
  width: 100%;
  margin: 50px 0 0 35px;
}

input[type=checkbox]:checked + label {
  opacity: 0.50;
}
