body {
    margin: 0;
    padding: 0 5vw;
    font-family: "Inter UI", -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 80px;
    font-weight: 700;
}

